<ion-view view-title="Welcome">
  <ioncontent>
  
    <br/><br/><br/>

    <div class = "card" border>
      <img src="img/agenda_icon.png" class="img-responsive"/>
    </div>

    <div class = "card">
      <ionitem class = "item-text-wrap">
        <a button class="button button-icon icon ion-ionic button-block" href="#/app/newFriend">Login</button></a>
        <a button class="button button-icon icon ion-person-add button-block" href="#/app/register">Register</button></a>
      </ionitem>
    </div>

  </ioncontent>                
</ion-view>


